<form [formGroup]="deviceForm">
  <p>
    <mat-form-field appearance="outline">
      <input matInput
             formControlName="uid"
             type="number"
             required>
      <mat-label>UID</mat-label>
      <mat-hint></mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Vendor</mat-label>
      <input matInput
             formControlName="vendor"
             required>
    </mat-form-field>
  </p>
  <p>
    <mat-label>Status: </mat-label>
    <mat-slide-toggle (change)="onChangeStatus($event)"></mat-slide-toggle>
    <mat-label> {{status.value}}</mat-label>
  </p>
  <div class="btn-container">
    <button mat-raised-button
            color="primary"
            [disabled]="deviceForm.invalid"
            [mat-dialog-close]="!deviceForm.invalid ? deviceForm.value : null"> Accept
    </button>
    <button mat-raised-button
            color="warn"
            (click)="onNoClick()">Cancel
    </button>
  </div>
</form>
