<div class="table-container">
  <button mat-raised-button color="primary" class="new-btn" (click)="addGateway()">Add Gateway</button>
  <table mat-table
         [dataSource]="gateways"
         class="mat-elevation-z8 gateway-table">

    <ng-container matColumnDef="serial">
      <th mat-header-cell
          *matHeaderCellDef> Serial
      </th>
      <td mat-cell
          *matCellDef="let gateway"> {{gateway.serial}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef> Name
      </th>
      <td mat-cell
          *matCellDef="let gateway"> {{gateway.name}} </td>
    </ng-container>

    <ng-container matColumnDef="ipv4">
      <th mat-header-cell
          *matHeaderCellDef> IPv4
      </th>
      <td mat-cell
          *matCellDef="let gateway"> {{gateway.ipv4}} </td>
    </ng-container>

    <ng-container matColumnDef="devices">
      <th mat-header-cell
          *matHeaderCellDef> Devices
      </th>
      <td mat-cell
          *matCellDef="let gateway"> {{gateway.devicesCount}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef> Actions
      </th>
      <td mat-cell
          *matCellDef="let gateway">
        <button mat-raised-button
           color="primary"
           (click)="details(gateway)">Details</button>
        <button mat-raised-button
           color="accent"
           (click)="addDevice(gateway)">Add Device</button>
        <button mat-raised-button
           color="warn"
           (click)="deleteGateway(gateway)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


