<h1>Gateway: {{gateway.name}}</h1>
<h3>Serial: {{gateway.serial}}</h3>
<h5>IPv4: {{gateway.ipv4}}</h5>

<ng-container *ngIf="devices.length > 0">
  <app-device [devices]="devices" ></app-device>
</ng-container>

<ng-container *ngIf="devices.length == 0">
  <h4>This gateway doesn't have any device linked.</h4>
</ng-container>
