<div class="wrapper">

  <div class="toolbar"
       [style.position]="'inherit'">
    <mat-toolbar color="primary">
      <p>Gateways</p>
    </mat-toolbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
<app-error-notification></app-error-notification>
