<form [formGroup]="gatewayForm">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Serial Number</mat-label>
      <input matInput
             formControlName="serial"
             required>
      <mat-hint>The serial number must be unique</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput
             formControlName="name"
             required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>IPv4 Address</mat-label>
      <input matInput
             formControlName="ipv4"
             required>
    </mat-form-field>
  </p>
  <div class="btn-container">
    <button mat-raised-button
            color="primary"
            [disabled]="gatewayForm.invalid"
            [mat-dialog-close]="!gatewayForm.invalid ? gatewayForm.value : null">Accept
    </button>
    <button mat-raised-button
            color="warn"
            (click)="onNoClick()">Cancel
    </button>
  </div>
</form>
