<div class="table-container">
  <table mat-table
         [dataSource]="devices"
         class="mat-elevation-z8 device-table">

    <ng-container matColumnDef="uid">
      <th mat-header-cell
          *matHeaderCellDef> UID
      </th>
      <td mat-cell
          *matCellDef="let device"> {{device.uid}} </td>
    </ng-container>

    <ng-container matColumnDef="vendor">
      <th mat-header-cell
          *matHeaderCellDef> Vendor
      </th>
      <td mat-cell
          *matCellDef="let device"> {{device.vendor}} </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell
          *matHeaderCellDef> Creation Date
      </th>
      <td mat-cell
          *matCellDef="let device"> {{device.createdDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell
          *matHeaderCellDef> Status
      </th>
      <td mat-cell
          *matCellDef="let device"> {{device.status}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef> Actions
      </th>
      <td mat-cell
          *matCellDef="let device">
        <button mat-raised-button
                color="warn"
                (click)="deleteDevice(device)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
